:root {
	--app-bg-color: #f2f3f5;
	--app-text-color: #2e384d;
	--box-bg-color: #fff;
	--alt-text-color: #616161;
	--gray-color: #78909c;
	--success-color: #00695c;
	--success-dark-color: #004d40;
	--shadow-color: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--app-bg-color: #121212;
		--app-text-color: #fff;
		--box-bg-color: #232323;
		--alt-text-color: #eceff1;
		--gray-color: #b0bec5;
		--shadow-color: 0 1px 3px rgb(255 255 255 / 12%), 0 1px 2px rgb(255 255 255 / 24%);
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--app-text-color);
}
